{% extends 'base.html' %}
{% load recommendation_tags %}


{% block content %}
<h1>Evaluación de recomendaciones</h1>
<p>Hola! muchas gracias por estar acá ❤️, te cuento un poco de esto:</p>
<p>Esta es la plataforma para evaluar distintas técnicas para generar recomendaciones a candidaturas.</p>
<p>Toda esta información es basada en la plataforma del VotaInteligente 2017</p>
<p>Cuando selecciones una candidatura serás presentada con 3 recomendaciones,</p>
<p>La idea es que selecciones la que creas que la candidatura podría adherir.</p>
<p>Es decir, que es coherente con las posturas políticas de la candidatura seleccionada</p>
<p>Si no conoces a la candidatura, tranqui, déjala pasar como el agua que no has de beber.</p>

{% if user.is_authenticated %}

<ul>
    {% for candidate in page_obj %}
        {% has_choosen_recommendation user candidate as has_chosen %}
        {% if not has_chosen %}

        <li><a href="{% url 'candidacy' slug=candidate.slug %}">{{ candidate.name }} - {{candidate.party}}</a></li>
        {% endif %}
    {% endfor %}
</ul>


<div class="container-fluid text-center">    
    <div class="row content">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
           
        <li class="page-item active">
            <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
            </li>
          
          
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" >...</a></li>
                {% endif %}
          
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            {% endif %}
        </ul>
      </nav>
    </div>
  </div>

{% else %}
<p>Debes estar loggeada para ver esto.</p>
{% endif %}
{% endblock %}
